<div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
    <h2 class="col my-3">Subir programación de los grupos (en formato .txt)</h2>
    <div class="ml-2 mt-5 form-group row">
        <div class="col">
            <label class="custom-file-upload btn-primary d-flex justify-content-center align-items-center">
                <input type="file" accept="text/plain" (change)="handleFileInput($event.target.files)">
                <i class="fas fa-upload mr-2"></i>
                Subir PSV
            </label>
        </div>
    </div>

</div>