<div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
    <h2 class="col my-3">Mis reservaciones</h2>
    <div class="row d-flex justify-content-around" >
        <div class="card col-md-3 mr-2 my-3" *ngFor="let res of myReservations">
            <img src="assets/img/aulas2.jpg" height="150px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en aulas 1">
            <div class="card-body">
                <h5 class="card-title">{{ res.name }}</h5>
                <p class="card-text">{{ res.start | date }} <br> {{ res.start | date: "HH:mm" }} - {{ res.end | date: "HH:mm" }}</p>
                <a class="btn btn-primary" [routerLink]="['/reservacion', res.id, res.room.id]" routerLinkActive="router-link-active" >Ver información</a>
            </div>
        </div>
    </div>
</div>