<div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
    <h2 class="col my-5 ml-2">Crear nueva reservación</h2>
    <form [formGroup]="reservationForm" (ngSubmit)="reservar()" class="mt-4">
        <div class="row px-4 mb-2">
            <div class="col">
                <h3>Selecciona el periodo de tu reservación</h3>
            </div>
        </div>
        <div class="ml-2 mt-5 form-group row">
            <span class="col-sm-2 d-flex align-items-center">
                <input id="s1" type="checkbox" class="switch" (change)="changeRecurrent($event)">
                <label for="s1">¿Es recurrente?</label>
            </span>

            <div *ngIf="isRecurrent" class="col-sm-10 d-flex align-items-center">
                <label for="numeroSemanas">¿Cuantas semanas?</label>
                <input type="number" id="numeroSemanas" class="form-control" name="semanas" (change)="setNumberOfWeeks($event)">
            </div>
        </div>
        <div class="ml-2 mt-3 mb-5 form-group row">
            <span class="col col-md-4">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" (dateSelect)="setDate($event)" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                            #d="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i
                                    class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        <app-calendar view="week" [actions]="actions" [events]="events" (eventos)="adjustEvents($event)"></app-calendar>
        <div class="row px-4 mt-5">
            <div class="col">
                <h3>Algunos filtros extra</h3>
            </div>
        </div>
        <div class="row mt-5">
            <h3 class="col-6 text-center mb-4">Edificio</h3>
            <h3 class="col-6 text-center mb-4">Cupo</h3>
        </div>
        <div class="row d-flex justify-content-around mb-5">
            <input list="edificios" value="" class="col-5 custom-select custom-select-sm" formControlName="edificio">
            <input list="cupo" value="" class="col-5 custom-select custom-select-sm" formControlName="cupo">
            <datalist id="edificios">
                <option value="Cualquiera">Cualquiera</option>
                <option value="1">Aulas 1</option>
            </datalist>
            <datalist id="cupo">
                <option value="Cualquiera">Cualquiera</option>
                <option value="50">50</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="60">60</option>
            </datalist>
        </div>
        <div class="row mt-5 mb-3">
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <button class="btn btn-primary w-75" type="submit" [disabled]="reservationForm.invalid">Buscar</button>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <button class="btn btn-danger w-75" [routerLink]="['/dashboard']">Regresar</button>
            </div>
        </div>
    </form>
    <div class="row d-flex justify-content-around" *ngFor="let res of resultsFastRes">
        <div class="card col-md-5 mr-2 my-3">
            <img src="assets/img/aulas1.jpg" height="250px" class="card-img-top p-1 border-bottom"
                alt="Reservación de salón en Aulas 2">
            <div class="card-body">
                <h5 class="card-title">Reserva en {{ res.building.name }}:</h5>
                <p class="card-text">{{ res.name }}</p>
                <a class="btn btn-primary" (click)="makeReservation(res.id, res.name)">Reservar</a>
            </div>
        </div>
    </div>
</div>
