<main>
    <div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
        <h2 class="col my-3">Proximas reservaciones</h2>
        <app-calendar view="week" [actions]="actions" [events]="events"></app-calendar>
        
    </div>
    <div class="container border my-5 animated fast fadeIn" style="background: #E8E8E8;">
        <h2 class="col my-3">Reserva rápida de un salón</h2>
        <div class="row mt-5">
            <h3 class="col-6 text-center">Hora de inicio</h3>
            <h3 class="col-6 text-center">Hora de fin</h3>
        </div>
        <div *ngIf="timeValid" class="row d-flex mb-2 mt-3 justify-content-center invalido">
            <p>{{ errMessage }}</p>
        </div>
        <div class="row d-flex mb-3">
            <div class="col-6 ml-2 form-group row justify-content-center">
                <div class="col-sm-10 d-flex justify-content-center">
                    <ngb-timepicker [(ngModel)]="timeStart"></ngb-timepicker>
                </div>
            </div>
            <div class="col-6 ml-2 form-group row justify-content-center">
                <div class="col-sm-10 d-flex justify-content-center">
                    <ngb-timepicker [(ngModel)]="timeEnd"></ngb-timepicker>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-5">
            <button class="btn btn-primary" (click)="modelChanged()">Buscar una reserva rápida</button>
        </div>
        <div class="row d-flex justify-content-around" *ngFor="let res of resultsFastRes">
            <div class="card col-md-5 mr-2 my-3">
                <img src="assets/img/aulas1.jpg" height="250px" class="card-img-top p-1 border-bottom"
                    alt="Reservación de salón en Aulas 2">
                <div class="card-body">
                    <h5 class="card-title">Reserva en {{ res.building.name }}:</h5>
                    <p class="card-text">{{ res.name }}</p>
                    <a href="#" class="btn btn-primary">Reservar</a>
                </div>
            </div>
        </div>
    </div>
</main>